$font-stack: Arial, sans-serif;
$primary-color: #f5f5f5;
$text-color: #333;
$link-color: #3490dc;
$link-hover-color: #1d68a7;
$p-text-color: #666;
$font-sizes: 2em, 1.75em, 1.5em, 1em;

body {
  font-family: $font-stack;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto;
  background-color: $primary-color;
  max-width: 800px;
}

h1, h2, h3 {
  color: $text-color;
}

h1 { font-size: nth($font-sizes, 1); }
h2 { font-size: nth($font-sizes, 2); }
h3 { font-size: nth($font-sizes, 3); }

p {
  font-size: nth($font-sizes, 4);
  color: $p-text-color;
}

ul { list-style-type: none; }

li { line-height: 1.7; }

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}